.shoulders {
  top: 126px;
  left: 346px;
  width: 64px;
  height: 86px;
}

.hands {
  top: 225px;
  left: 320px;
  width: 64px;
  height: 86px;
}

.finger-left {
  top: 325px;
  left: 332px;
  width: 40px;
  height: 40px;
}

.hand-left {
  top: 380px;
  left: 320px;
  width: 64px;
  height: 128px;
}

.head {
  top: 102px;
  left: 428px;
  width: 64px;
  height: 64px;
}

.torso {
  top: 172px;
  left: 420px;
  width: 80px;
  height: 113px;
}

.waist {
  top: 291px;
  left: 420px;
  width: 80px;
  height: 32px;
}

.legs {
  top: 329px;
  left: 428px;
  width: 64px;
  height: 86px;
}

.feet {
  top: 421px;
  left: 428px;
  width: 64px;
  height: 86px;
}

.neck {
  top: 146px;
  left: 512px;
  width: 54px;
  height: 54px;
}

.bracers {
  top: 225px;
  left: 536px;
  width: 64px;
  height: 86px;
}

.finger-right {
  top: 325px;
  left: 548px;
  width: 40px;
  height: 40px;
}

.hand-right {
  top: 380px;
  left: 536px;
  width: 64px;
  height: 128px;
}

