.battle-log-panel {
  color: white;
  width: 1094px;
  background-color: rgba(34, 21, 12, 0.51);
  padding: 10px;
  font-size: 18px;
  margin: {
    left: auto;
    right: auto;
    top: 20px;
  }
  border: 1px solid #2e221d;
}