.ext-panel {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .item-interface {
    display: flex;
    justify-content: center;
  }
  .store {
    display: flex;
    justify-content: center;
  }
}

