@import "../../../../styles/character-coords";
@import "../../../../styles/inventory-sprites";

.tooltip{

  .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(33, 20, 10, 0.71);
    color: #fff;
    padding: 15px;
    border-radius: 6px;
    z-index: 120;
    margin-top: 10px;
    margin-left: 50px;
  }

  &:hover{
    .tooltiptext {
      visibility: visible;
    }
  }
}

.item {
  z-index: 10;
  position: absolute;
}

.inventoryItems {
  float: left;
}

.shoulders-img{
  background-position-y: -126px;
  background-position-x: -346px;
}

.hands-img{
  background-position-y: -225px;
  background-position-x: -320px;
}

.finger-left-img{
  background-position-y: -325px;
  background-position-x: -332px;
}

.hand-left-img{
  background-position-y: -380px;
  background-position-x: -320px;
}

.head-img{
  background-position-y: -102px;
  background-position-x: -428px;
}

.torso-img{
  background-position-y: -172px;
  background-position-x: -420px;
}

.waist-img{
  background-position-y: -291px;
  background-position-x: -420px;
}

.legs-img{
  background-position-y: -329px;
  background-position-x: -428px;
}

.feet-img{
  background-position-y: -421px;
  background-position-x: -428px;
}

.neck-img{
  background-position-y: -146px;
  background-position-x: -512px;
}

.bracers-img{
  background-position-y: -225px;
  background-position-x: -536px;
}

.finger-right-img{
  background-position-y: -325px;
  background-position-x: -548px;
}

.hand-right-img{
  background-position-x: -536px;
  background-position-y: -380px;
}

:host {
  .isActive {
    background-color: red;
  }
}
.isActive {
  background-color: red;
}

