<div class="character-list">
    <character #character [user]="user"></character>
    <div class="under-panel">
        <div class="start">
            <div (click)="onStart()">Start</div>
        </div>
        <div class="heroes">
            <div class="item" (click)="swapList(lists[0]);setSelectItem(0);character.changeIndex(0)"
                 [ngStyle]="getItemStyle(0)">Hero 1
            </div>
            <div class="item" (click)="swapList(lists[1]);setSelectItem(1);character.changeIndex(1)"
                 [ngStyle]="getItemStyle(1)">Hero 2
            </div>
            <div class="item" (click)="swapList(lists[2]);setSelectItem(2);character.changeIndex(2)"
                 [ngStyle]="getItemStyle(2)">Hero 3
            </div>
        </div>
    </div>
</div>
